*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #a9c7e0;
}  
header{
    width: 100%;
    height: 100px;
    background-color: rgb(71, 71, 186,0.804);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#search-icon {
    background-image: url(./img/search\ icon.png);
    background-repeat: no-repeat;
    background-size: contain;  
    margin-left: 200px;
    
}
input{
    width: 500px;
    height: 30px; 
    padding-left: 30px;
    height: 30px; 
    outline: none;
}
#digital-icon {
    width: 120px;
    height: 90px;
    padding-left: 180px;
    
}
#heart-icon {
    width: 50px;
    height: 40px;
    padding-left: 80px;
    
}
#shopping-cart {
    width: 50px;
    height: 40px;

}



div.box1 {
    border: 1px solid wheat;
    background-color: white;
    width: 180px;  
    height: 186px;
    margin-left: 15px;
    margin-top:22px;

}
div a{
    text-decoration: none;
    color: black;
    padding: 20px;
    line-height: 30px;  
}
h3 {
    background-color: rgb(71, 71, 186, 0.804);
    color: white;
    height: 2px;
    margin: 10px;
    padding-bottom: 20px;
    padding-left: 15px;
}
.box2 {
    background-color: black;
    color: white;
    margin-left: 510px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    bottom: 150px;
    width: 83%;
    height: 188px;
    position: relative;
    right: 300px;
    bottom: 188px;
}
.box2 h1{
    font-size: 35px;
    text-transform: capitalize;
}

/* for Smart phones */
#mobile-h2{
    padding-left: 20px;
}
.Mobiles{
    display: grid;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    justify-content: space-around;
}
.Mobiles div{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #b8e2f6;
    border:1px solid gainsboro;
    text-align: center;
    margin: 10px 0;
}
.Mobiles div img{
    height: 100 px;
    width: 150px;
    border-radius: 5px;
    margin:10px;
    background-color: transparent;
}
.Mobiles p{
    padding: 0px;
    font-size: small;
}
.p{
    font-weight: bold;
}
#laptop-heading{
    margin-top: 60px;   
    margin-bottom: 10px;
    padding: 10px 20px;
}
.laptops{
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: space-around;
}
.laptops div{
     align-items: center;
     background-color: #c8e6f6;
     border: 1px solid #c8e6f6;
     text-align: center;
}
.laptops div img {
    height: 160px;
    width: 180px;
    border-radius: 5px;
    margin: 15px;
    margin-bottom: 5px;
    background: transparent;
}
.notify {
    background-color: #00000078;
    color: white;
    width: 90px;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    box-shadow: rgba(7, 1, 1, 0.35) 0px 5px 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.notify p {
    padding-top: 10px;
    font-size: small;
}
.laptops h4 {
    padding-top: 5px;
    padding-bottom: 15px;
}